html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 60px;
  height: 100vh;
}

.header__links a:hover {
  color: #808080;
}

/* Header */
.header {
  grid-area: header;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

.header__title {
  font-size: 30px;
  min-width: 180px;
  font-weight: bold;
}

.header__links {
  font-size: 16px;
}

/* Main */

.main {
  grid-area: main;
  background-color: #ffff;
  padding: 10px;
}

.main h1 {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin: 10px;
}

.cards-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Product Card */

.card {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: 335px;
}

.card a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.card__img {
  width: 100%;
}

.card__price {
  font-size: 20px;
}

.card__description {
  text-align: justify;
  margin: 10px 0 10px 0;
  overflow: scroll;
  height: 100px;
}

.card__title {
  margin: 10px 0 10px 0;
  font-size: 20px;
  overflow: hidden;
  height: 48px;
}

.card.category-card {
  border: none;
  border-radius: 0px;
  background-color: #f3f3f3;
}

/* Footer */

.footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Product page */

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product__title-img {
  text-align: center;
  margin-bottom: 10px;
}

.product__desc {
  text-align: justify;
}

.product__info {
  max-width: 500px;
  margin: 10px;
}

.product__category, .product__price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product__cart {
  font-size: 18px;
  padding: 10px;
  margin: 10px auto 10px auto;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #fff;
  color: black;
  width: 100%;
}

.product__cart:hover {
  background-color: #000000;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.products__link {
  text-decoration: none;
  color: #000000;
  right: auto;
  font-size: 15px;
  margin: 10px 10px 20px 10px;
}

/* Category */

.categories__link {
  text-decoration: none;
  color: #000000;
  right: auto;
  font-size: 18px;
  position: absolute;
  left: 0;
  margin: 10px;
}

.category__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-arrow {
  display: none;
}

@media only screen and (max-device-width : 768px) {
  .categories__link {
    display: none;
  }

  .products__link {
    display: none;
  }

  .back-arrow {
    text-decoration: none;
    color: #000000;
    right: auto;
    font-size: 24px;
    left: 0;
    margin: 0px 10px 10px 20px;
    display: block;
  }

  .products__link-mobile {
    position: relative;
  }

  .categories__link-mobile {
    position: absolute;
  }

  .card_img {
    width: 250px;
    height: 250px;
  }
}